@font-face{
    font-family: "popins";
    src: url(./fonts/Poppins-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "popins";
}
header{
    width: 100%;
    height: auto;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.452);
    background-color: #fff;
    position: fixed;
}
.container{
    width: 1200px;
    height: auto;
    margin: 0px auto;
}
.navbar{
    height: auto;
    width: 100%;
    padding: 1.5rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ul_nav{
    width: 25%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.ul_nav li a{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}
.ul_nav li:nth-child(1) a{
    color: #316499;
    font-weight: 700;
}
.btn{
    text-decoration: none;
    background: #316499;
    padding: 0.5rem 1rem;
    color: #fff;
    font-size: 14px;
}
main{
    height: auto;
    width: 100%;
    background-color:rgba(49, 100, 153, 0.1) ;
}
.hero{
    padding-top: 11rem;
    height: 700px;
  
}
.hero_img{
   width: 100%;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: center;
  
}
.hero_img img{
    width: 100%;
    height: 70%;
}